<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newaar" >

    <uses-sdk android:minSdkVersion="24" />

    <application>
        <activity
            android:name="com.example.newaar.TestActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>